@page
@model JewlryShop2.Pages.Carts.CreateModel

@{
    ViewData["Title"] = "Create Cart";
}

<section class="form-section">
    <h1 class="form-title" style="color: #ffb6c1;">Create New Cart 🌸</h1>
    <h6 class="form-subtitle">Please select your name :)</h6>

    <hr />
    <div class="form-container">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Cart.CustomerID" class="form-label">Select Customer</label>
                <select asp-for="Cart.CustomerID" class="form-control" asp-items="ViewBag.CustomerID">
                    <option value="">-- Select Customer --</option>
                </select>
                <span asp-validation-for="Cart.CustomerID" class="text-danger"></span>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="Create" class="btn-gold" />
            </div>
        </form>
    </div>
    <div class="back-link">
        <a asp-page="Index" class="btn-link">← Back to List</a>
    </div>
</section>
