@page
@model JewlryShop2.Pages.Reviews.EditModel

@{
    ViewData["Title"] = "Edit";
}

<section class="form-container">
    <h1 class="form-title"> Edit Review ✏️</h1>

    <form method="post" class="styled-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Review.ID" />

        <div class="form-group">
            <label asp-for="Review.Jewelry" class="form-label"></label>
            <select asp-for="Review.JewelryID" class="form-control" asp-items="ViewBag.JewelryID"></select>
            <span asp-validation-for="Review.JewelryID" class="text-danger small-text"></span>
        </div>

        <div class="form-group">
            <label asp-for="Review.Customer" class="form-label"></label>
            <select asp-for="Review.CustomerID" class="form-control" asp-items="ViewBag.CustomerID"></select>
            <span asp-validation-for="Review.CustomerID" class="text-danger small-text"></span>
        </div>

        <div class="form-group">
            <label asp-for="Review.StarAmount" class="form-label"></label>
            <input asp-for="Review.StarAmount" class="form-control" />
            <span asp-validation-for="Review.StarAmount" class="text-danger small-text"></span>
        </div>

        <div class="form-group">
            <label asp-for="Review.Rewiew" class="form-label"></label>
            <input asp-for="Review.Rewiew" class="form-control" />
            <span asp-validation-for="Review.Rewiew" class="text-danger small-text"></span>
        </div>

        <div class="form-group mt-4">
            <input type="submit" value="Save" class="btn-gold" />
            <a asp-page="./Index" class="btn-link ms-3">Back to List</a>
        </div>
    </form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
