@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 >I am HILI</h1>
    <h2 >I am HILI</h2>
    <h3 >I am HILI</h3>
    <h4 >I am HILI</h4>
    <h5 >I am HILI</h5>
    <h6 >I am HILI</h6>


    <img src="~/Images/heartset.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
